<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PW_Chat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PW_Chat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PW_Chat.Properties.Settings>
            <setting name="lusername" serializeAs="String">
                <value />
            </setting>
            <setting name="lpassword" serializeAs="String">
                <value />
            </setting>
            <setting name="lhost" serializeAs="String">
                <value />
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="sound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="textcolor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="wincolor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="cryptKey" serializeAs="String">
                <value>jJTg6z00UFmHMpGLyTgHAjdcrWfzrEPZ9fbKRpLOVP0=</value>
            </setting>
            <setting name="cryptIV" serializeAs="String">
                <value>euo++R62pY940xlUPeMrAu+lPCL4/etfzf3RyQFUKos=</value>
            </setting>
            <setting name="tray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="speech" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="emptymsg" serializeAs="String">
                <value>False</value>
            </setting>
        </PW_Chat.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PW_Chat.Properties.Settings>
            <setting name="manPage" serializeAs="String">
                <value>https://code.google.com/p/pw-chat/wiki/Manual</value>
            </setting>
            <setting name="aboutURL" serializeAs="String">
                <value>http://dl.dropbox.com/u/1178264/pw-chat/about.html</value>
            </setting>
            <setting name="dtextcolor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="dwincolor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="defaultCryptKey" serializeAs="String">
                <value>jJTg6z00UFmHMpGLyTgHAjdcrWfzrEPZ9fbKRpLOVP0=</value>
            </setting>
            <setting name="defaultIV" serializeAs="String">
                <value>euo++R62pY940xlUPeMrAu+lPCL4/etfzf3RyQFUKos=</value>
            </setting>
        </PW_Chat.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
